/*
Alterações realizadas no site para o Workshop de 2022

Criado por Juliana A. Santos
*/



.p1{
  color: #fff;
		font-weight: 900;
		line-height: 26px;
		margin: 0 0 0.1em 0;
    font-variant: small-caps;
    font-family: 'Ubuntu', sans-serif';
    font: bolder;
    font-size: 3rem;
    letter-spacing: .35px

}


.p2{
  font-weight: 700;
		line-height: 1em;
		margin: 0.5em auto 1em;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: .25px;
    font-weight: bold;

}

.p3{
  font-weight: 700;
		line-height: 1em;
		margin:  0.1em auto 0.7em;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: .25px;
}

.p4{
  font-weight: 500;
		line-height: 1em;
		margin: 0 0 0 0;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: .25px;
}


.imagem{
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    border-radius: 50%;
    border: 0.2rem solid black;
}
      
.line-color{
  color: #2e76c8;
  font-weight: 900;
  font-size: 24px;
}


@media screen and (max-width: 800px) { 
  .p1{
      line-height: 1em;
      margin: 0 0 0.1em 0;
      font-size: 3rem;
      /*letter-spacing: .35px */
  
  }

  .p2{
  	line-height: 1em;
		margin: 0.5em auto 1em;
    color: #fff;
    font-size: 1.8rem ;
    letter-spacing: .25px;
   
}

}

.titulo-palestra{
  height: 8%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.biografia{
  margin-top: 0.8rem;
  height:48%;
  width: 100%;
  justify-content: center;
}

.redes{
  margin-top: 0.8rem;
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
 
}

.card-palestra{
  height: 83rem;
  width: 100%;
  display: flex;
  flex: auto;
  flex-direction: column;
   
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.font-cinza{
  color: dimgray;
}

.font-azul{
  color:rgb(4, 4, 124);
  font-size: 1.5rem ;
}

.footer-banner{
  align-self: center;
  justify-self: center;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-organizations{
  margin: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

